
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<a class="btn btn-primary" href="http://portal.fulltech-metal.com">企業入口網站</a>
<a class="btn btn-primary" href="http://10.10.0.108/">FT2018 企業內部自主開發</a>
<a class="btn btn-primary" href="http://10.10.0.111/Dev">开发信息</a>
<h1>FT2018压铸</h1>
<h3>由张一翔维护，ip地址：<a href = 'http://10.10.0.111'>10.10.0.111</a></h3>
<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
{{ question.question_description }}

    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->


{% if Yazhu_list %}

        <table class = 'gridtable'>
        <tr><th>  </th><th>日期</th><th>产品</th><th>机台</th><th>操作员</th><th>技术员</th><th>班组长</th><th>数量</th><th>良品数量</th><th>不良数量</th><th>不良率</th><th>欠铸</th><th>沙孔</th><th>气泡</th><th>拉伤</th><th>冲蚀</th><th>表面裂纹</th><th>顶针凹/凸</th><th>变形</th><th>毛刺</th><th>尺寸不良</th><th>其他</th></tr>
    {% for item in Yazhu_list %}
<tr><th>  {{ forloop.counter }} </th>
<td>
{{ item.work_date | date:'Y-m-d '}}</td>
<td>
{{ item.work_prod }}</td><td>
{{ item.work_mach }}</td><td>
{{ item.work_by }}</td><td>
{{ item.work_support }}</td><td>
{{ item.work_leader }}</td><td>
{{ item.work_qtyall }}</td><td>
{{ item.work_qtyok }}</td><td>
{{ item.work_rej }}</td><td>
{{ item.work_rejper }}</td><td>
{{ item.rej01 }}</td><td>
{{ item.rej02 }}</td><td>
{{ item.rej03 }}</td><td>
{{ item.rej04 }}</td><td>
{{ item.rej05 }}</td><td>
{{ item.rej06 }}</td><td>
{{ item.rej07 }}</td><td>
{{ item.rej08 }}</td><td>
{{ item.rej09 }}</td><td>
{{ item.rej10 }}</td><td>
{{ item.rej11 }}</td>
</tr>
    {% endfor %}
      </table>

{% else %}
    <p>No Yazhu_list are available.</p>
{% endif %}
