
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
 <body>





      <div class="container-fluid">
        <a class='btn btn-primary btn-lg' href='http://portal.fulltech-metal.com/'>企業入口網站</a>&nbsp;
            <a class='btn btn-primary btn-lg' href='http://10.10.0.108'>FT2018 企業內部自主開發</a>&nbsp;
<!-- <h1>FT2018 企業內部自主開發 压铸/模具 開發</h1> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container-fluid">
       <h1 class="display-3">FT2018压铸</h1>
       <p> 關鍵技術底層和開發部署境簡述。</p>
       <p><a class="btn btn-primary btn-lg" href="../" role="button">回到FT2018压铸 &raquo;</a></p>
     </div>
   </div>

   <div class="container-fluid">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>正式環境</h2>
         <p>linux虚拟机安装Python3.6版本使用Django2.0框架</p>
         <p>用戶使用【電腦|平板|手機】的流覽器，連上局網，必要的登入信息，即可訪問。 </p>
         <!-- <p>單獨的額外需求，會單獨說明。 </p> -->

          <!-- <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p>… -->

         <!-- <p><a class="btn btn-secondary" href="http://10.10.0.111" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
       <div class="col-md-4">
         <h2>開發環境</h2>
         <p>Windows10安装Python3.5.3使用Django2.0 </p>
           <p>目前的程式開發語言和框架以 Django/Python 為主，也包括 PHP 和 Java。
             開發環境可以是搭建在 Windows 的作業環境。 </p>

         <!-- <p><a class="btn btn-primary" href="http://10.10.0.112" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
        </div>
       <div class="col-md-4">
         <h2>數據庫</h2>
         <p>項目相關直接連接的數據庫包括 Oracle, PostgreSQL 和最簡易的SQLite。</p>
         <!-- <p><a class="btn btn-secondary" href="#" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
     </div>
     <div class="row">
       <div class="col-md-4">
         <h2>需求說明</h2>
         <p>經過和項目需求人員的訪談，我們會簡述需求供各層管理人員的參考，以利在不同階段有不同的指示調整應變。 </p>
         <p>对不同日期的信息分开显示，增加按钮选择日期（日期转换类型遇到困难，暂时搁置） </p>
         <p>显示资料日期；在后台admin把机台信息的输入框改为下拉选择</p>
         <p>新增Dev页面显示开发相关信息；机台信息从T100获取后放在models内，完善下拉选择内容，实际值使用机台编号。</p>
         <!-- <p>用戶使用【電腦|平板|手機】的流覽器，連上局網，必要的登入信息，即可訪問。 </p> -->
         <!-- <p>單獨的額外需求，會單獨說明。 </p> -->

          <!-- <p> <a class='btn btn-primary' href='http://10.10.0.111'>直接訪問正在開發的 Web App</a></p>… -->

         <!-- <p><a class="btn btn-secondary" href="http://10.10.0.111" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
       <div class="col-md-4">
         <h2>技術要點</h2>

                           <p>日期类型转换为字符型难以实现 </p>
                           <p>显示的日期可以直接调整格式，使其符合一般规则。 </p>
         <p>下拉框添加时要注意格式对其，否则会报错。</p>

         <!-- <p><a class="btn btn-primary" href="http://10.10.0.112" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
        </div>
       <div class="col-md-4">
         <h2>開發要點</h2>
         <p>主要先實現可充份實現的部份。</p>
         <p>不容易實現的部份將儘量先做出基礎版本，再循序討論優化。</p>
         <!-- <p><a class="btn btn-secondary" href="#" role="button">直接訪問正在開發的 Web App &raquo;</a></p> -->
       </div>
     </div>



   </div> <!-- /container -->


</div>
</body>
</html>